* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
	display: none;
}
textarea::-webkit-scrollbar {
	display: none;
}

select {
	border: none;
	color: rgb(92, 92, 92);
}

select option {
	border-radius: 1px;
	width: 150%;
	margin-top: 10px;
}

select:focus {
	outline: none;
	border: none;
}

option:hover {
	background-color: rgb(189, 189, 189);
}

.main {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	gap: 20px;
	align-content: stretch;
	padding-top: 2rem;
	color: rgb(92, 92, 92);
}

.swiper {
	height: 600px;
	width: 400px;
}

.swiper-slide {
	display: flex !important;
	justify-content: center;
}

.page {
	width: 315px;
	height: 560px;
	/* background-color: red; */
	background-image: url("assets/template.png");
	background-size: cover;
	position: relative;
}

.text-section {
	position: relative;
	display: inline-block;
	margin: 20px;
	top: 200px;
	left: 50px;
}

.textbox {
	position: absolute;
	padding: 10px;
	outline: none;
	background: transparent;
	/* height: auto !important; */
	border: none;
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	font-weight: 500;
	width: 120px;
  resize: both;
}
.textbox:focus {
	border: 1px solid #1d1d1d;
  background-color: white;
}

/* 
.textbox.selected {
	border: 2px solid #4caf50;
	background-color: #f4f4f4; 
} */

.drag-handle {
  display: none; 
  position: absolute;
	cursor: grab;
  left: -20px;
  top: 20px;
  background-color: white;
  padding: 2px;
  border-radius: 15px;
  border: .5px solid gray;
  /* display: none; */
}

.textbox:focus + .drag-handle {
  display: block;
}

.drag-handle img {
	width: 14px;
	height: 14px;
}

.swiper-button-prev,
.swiper-button-next {
	color: black !important;
	transform: scale(50%);
}

/* setting section */

.settings {
	padding: 20px;
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	display: none;
}

.setting-back img {
	width: 15px;
	height: 15px;
}

.setting-textbox {
	border: 1px solid gray;
	border-radius: 3px;
}

.setting-language {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	padding: 2px 10px;
	border-bottom: 1px solid gray;
}

.setting-language {
	font: 500;
	color: rgb(37, 37, 37);
}

.setting-textbox-content {
	padding: 10px;
	overflow: hidden;
	border: none;
	outline: none;
	width: 100%;
	/* height: 100px; */
}

.setting-font-bold {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.setting-bold,
.setting-font {
	padding: 4px 12px;
	border: 1px solid gray;
	border-radius: 3px;
}

.setting-config {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	font-size: 11px;
	border: 1px solid gray;
	padding: 10px;
	border-radius: 3px;
}

#size {
	max-height: 100px;
	overflow: hidden;
}

.setting-color {
	cursor: pointer;
	position: relative;
}

.demo-color {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #bcd81c;
}

.demo-color-options {
	position: absolute;
	/* display: flex; */
	justify-content: space-between;
	gap: 5px;
	width: 100px;
	height: 60px;
	margin-top: 10px;
	flex-wrap: wrap;
	background-color: rgb(212, 212, 212);
	padding: 10px;
	border-radius: 5px;
	display: none;
}

.demo-color-option {
	height: 20px;
	width: 20px;
}
.setting-alignment,
.setting-lineht {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.setting-alignment img,
.setting-lineht img {
	width: 20px;
	height: 20px;
}

.start-animation,
.end-animation {
	width: 125px;
}

/* more edit option */
.more-edit {
	display: flex;
	gap: 10px;
	padding: 7px 20px;
	border-radius: 20px;
	background-color: rgb(177, 177, 177);
	position: fixed;
	bottom: 6%;
	right: 5%;
	font-size: 11px;
	color: rgb(19, 19, 19);
	cursor: pointer;
}

.more-edit img {
	width: 15px;
	height: 15px;
}

/* overview section */

.overview {
	padding: 20px;
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	/* display: none; */
}

.text-item {
	margin-bottom: 1rem;
}
.text-title {
	color: black;
	margin-bottom: 6px;
}
.text-content {
	border: 1px solid gray;
	border-radius: 3px;
	padding: 10px;
}

/* more edit option section */
.options {
	display: none;
}
.option-cont {
	display: flex;
}

.option-title {
	margin-bottom: 10px;
	color: black;
}

.option-text,
.option-image {
	border: 1px solid gray;
	border-radius: 3px;
	padding: 5px 40px;
	font-size: 11px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.options img {
	height: 20px;
	width: 20px;
}
